<div data-tab="{{selectedTab}}">
  {{!-- {{#if isCompact}}
    <div class="floating-info">
      Test
    </div>
  {{/if}} --}}
  {{!-- Drag Handle --}}
  <div class="drag-handle" tootlip="{{localize 'FLASH_ROLLS.ui.menus.dragHandleTooltip'}}">
    <i class="fas fa-grip-horizontal"></i>
  </div>

  <div class="main-content">
    <ul class="actors">
      <li class="actor-list">
        <ul>
        {{#if (eq selectedTab "group")}}
          {{#unless groups}}
            <li class="actor-list-empty">
              {{#if ../isGM}}
                {{localize "FLASH_ROLLS.ui.menus.noGroupsDropHint"}}
              {{else}}
                {{localize "FLASH_ROLLS.ui.menus.noGroups"}}
              {{/if}}
            </li>
          {{/unless}}
          {{#each groups as |group|}}
          <li>
            <div class="actor actor-group drag-wrapper{{#if group.isExpanded}} expanded non-selectable{{/if}}" draggable="true" 
                data-id="{{group.uniqueId}}" data-actor-id="{{group.id}}" 
                data-group-selected="{{group.selected}}" {{#if group.isExpanded}}data-non-selectable="true"{{/if}} 
                data-tooltip="{{group.name}}" data-tooltip-direction="LEFT" data-tooltip-delay="800">
              {{#unless group.isExpanded}}
              <div class="actor-img group-{{group.memberImages.length}}">
                {{#each group.memberImages as |img|}}
                  {{#if (lte @index 3)}}
                    <img src="{{img}}" alt="Member {{@index}}" />
                  {{/if}}
                {{/each}}
                <span class="icons">
                  <i class="fas fa-square-user icon-sheet" data-tooltip="Character sheet" data-tooltip-direction="UP" data-tooltip-delay="800"></i>
                </span>
              </div>
              {{/unless}}
              <ul class="group-members">
                {{#if group.isExpanded}}
                {{#each group.members as |member|}}
                  <li>
                    <div class="actor drag-wrapper{{#if member.selected}} selected{{/if}}" draggable="false"
                        data-id="{{member.uniqueId}}" data-actor-id="{{member.id}}" 
                        {{#if member.tokenId}}data-token-id="{{member.tokenId}}"{{/if}}
                        data-selected="{{member.selected}}">
                      <div class="actor-data">
                        {{#if ../../showNames}}<span class="actor-name">
                          {{ member.name }}
                          </span>
                        {{/if}}
                        <ul class="actor-stats">
                          {{#each member.crlngnStats as |prop|}}
                            <li class="actor-stat">
                              <span class="stat-abbrev">{{ prop.abbrev }}</span>
                              <span class="stat-value">{{ prop.value }}</span>
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                      <div class="actor-img" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.dragOutToRemove'}}" data-tooltip-direction="DOWN" data-tooltip-delay="2000">
                        <span class="icons">
                          {{#if member.isFavorite}}
                            <i class="fas fa-bolt favorite" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.dragOutToRemove'}}" data-tooltip-direction="DOWN" data-tooltip-delay="2000"></i>
                          {{/if}}
                          {{#if member.movementRestricted}}
                            <i class="fas fa-ban movement-restricted" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.movementLocked'}}" data-tooltip-direction="UP" data-tooltip-delay="800"></i>
                          {{/if}}
                          <i class="fas fa-square-user icon-sheet" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.characterSheet'}}" data-tooltip-direction="UP" data-tooltip-delay="800"></i>
                          {{!-- <i class="fas fa-crosshairs icon-target" data-tooltip="Target character" data-tooltip-direction="UP"></i> --}}
                        </span>
                        <img src="{{ member.img }}" alt="{{ member.name }}" />
                      </div>
                      <div class="actor-stat-bar" data-stat="hp">
                        <span class="bar" style="width: {{ member.hpPercent }}%;background-color: {{ member.hpColor }};"></span>
                      </div>
                    </div>
                  </li>
                {{/each}}
                {{/if}}
                {{#unless isCompact}}
                <li>
                  <span class="actor-name">
                    {{ group.name }}
                  </span>
                </li>
                {{/unless}}
                <li>
                  <button class="group-expand-btn" data-group-id="{{group.id}}">
                    {{#if (eq ../menuLayout 'horizontal')}}
                      <i class="fas fa-caret-{{#if group.isExpanded}}left{{else}}right{{/if}}"></i>
                    {{else}}
                      <i class="fas fa-caret-{{#if group.isExpanded}}up{{else}}down{{/if}}"></i>
                    {{/if}}
                  </button>
                </li>
              </ul>
            </div>
          </li>
          {{/each}}
        {{else}}
          {{#unless actors}}
            <li class="actor-list-empty">
              {{#if ../isGM}}
                {{localize "FLASH_ROLLS.ui.menus.noActorsDropHint"}}
              {{else}}
                {{localize "FLASH_ROLLS.ui.menus.noActors"}}
              {{/if}}
            </li>
          {{/unless}}
          {{#each actors as |actor|}}
            <li>
              <div class="actor drag-wrapper{{#if actor.selected}} selected{{/if}}" draggable="true"
                  data-id="{{actor.uniqueId}}" data-actor-id="{{actor.id}}" 
                  {{#if actor.tokenId}}data-token-id="{{actor.tokenId}}"{{/if}}
                  data-selected="{{actor.selected}}">
                <div class="actor-data">
                  {{#if ../showNames}}<span class="actor-name">
                    {{ actor.name }}
                    </span>
                  {{/if}}
                  <ul class="actor-stats">
                    {{#each actor.crlngnStats as |prop|}}
                      <li class="actor-stat">
                        <span class="stat-abbrev">{{ prop.abbrev }}</span>
                        <span class="stat-value">{{ prop.value }}</span>
                      </li>
                    {{/each}}
                  </ul>
                </div>
                <div class="actor-img" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.dragOutToRemove'}}" data-tooltip-direction="DOWN" data-tooltip-delay="2000">
                  <span class="icons">
                    {{#if actor.isFavorite}}
                      <i class="fas fa-bolt favorite" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.dragOutToRemove'}}" data-tooltip-direction="DOWN" data-tooltip-delay="2000"></i>
                    {{/if}}
                    {{#if actor.movementRestricted}}
                      <i class="fas fa-ban movement-restricted" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.movementLocked'}}" data-tooltip-direction="UP" data-tooltip-delay="800"></i>
                    {{/if}}
                    <i class="fas fa-square-user icon-sheet" data-tooltip="{{localize 'FLASH_ROLLS.ui.tooltips.characterSheet'}}" data-tooltip-direction="UP" data-tooltip-delay="800"></i>
                    {{!-- <i class="fas fa-crosshairs icon-target" data-tooltip="Target character" data-tooltip-direction="UP"></i> --}}
                  </span>
                  <img src="{{ actor.img }}" alt="{{ actor.name }}" />
                </div>
                <div class="actor-stat-bar" data-stat="hp">
                  <span class="bar" style="width: {{ actor.hpPercent }}%;background-color: {{ actor.hpColor }};"></span>
                </div>
              </div>
            </li>
          {{/each}}
        {{/if}}
        </ul>
      </li>

      {{!-- {{#if isCompact}} --}}
      <li class="actors-tabs">
        <button class="actor-tab npc-tab{{#if (eq selectedTab "npc")}} active{{/if}}" data-tab="npc"
          data-tooltip="{{localize 'FLASH_ROLLS.ui.menus.npcs'}}" data-tooltip-direction="UP" data-tooltip-delay="800">
          <i class="fas fa-skull-cow"></i>
        </button>
        <button class="actor-tab pc-tab{{#if (eq selectedTab "pc")}} active{{/if}}" data-tab="pc"
          data-tooltip="{{localize 'FLASH_ROLLS.ui.menus.pcs'}}" data-tooltip-direction="UP" data-tooltip-delay="800">
          <i class="fas fa-circle-user"></i>
        </button>
        <button class="actor-tab group-tab{{#if (eq selectedTab "group")}} active{{/if}}" data-tab="group"
          data-tooltip="{{localize 'FLASH_ROLLS.ui.menus.groups'}}" data-tooltip-direction="UP" data-tooltip-delay="800">
          <i class="fa-solid fa-users-medical"></i>
        </button>
      </li>
    </ul>

    <ul class="action-icons">
      {{!-- Module Action Icons --}}
      {{#each enabledModuleIcons as |icon|}}
        {{#with (lookup ../iconConfigs.moduleActions id)}}
          <li data-icon-id="{{../id}}">
            {{#if (eq type "button")}}
              {{#if (eq ../id "lock-menu")}}
                <i class="icon-option icon fas {{#if ../../actorsLocked}}fa-lock-keyhole{{else}}fa-lock-keyhole-open{{/if}}"
                   id="{{element}}"
                   data-tooltip="{{localize tooltipKey}}"
                   data-tooltip-direction="{{#if (eq ../../menuLayout 'horizontal')}}UP{{else}}RIGHT{{/if}}"
                   data-tooltip-delay="800"></i>
              {{else}}
                <button id="{{element}}"
                        data-tooltip="{{localize tooltipKey}}"
                        data-tooltip-direction="{{#if (eq ../../menuLayout 'horizontal')}}UP{{else}}RIGHT{{/if}}"
                        data-tooltip-delay="800">
                  <i class="icon-label fas {{this.icon}}"></i>
                </button>
              {{/if}}
            {{else if (eq type "checkbox")}}
              <label for="{{this.element}}">
                <input type="checkbox" name="{{this.element}}" id="{{this.element}}"
                       {{#if (eq ../id "toggle-requests")}}{{#if ../../rollRequestsEnabled}}checked{{/if}}{{/if}}
                       {{#if (eq ../id "skip-dialogs")}}{{#if ../../skipRollDialog}}checked{{/if}}{{/if}}
                       {{#if (eq ../id "group-rolls")}}{{#if ../../groupRollsMsgEnabled}}checked{{/if}}{{/if}}
                       {{#if (eq ../id "show-options")}}{{#if ../../showOptionsListOnHover}}checked{{/if}}{{/if}} />
                <span class="icon-label fas {{this.icon}}"
                      data-tooltip="{{localize tooltipKey}}"
                      data-tooltip-direction="{{#if (eq ../../menuLayout 'horizontal')}}UP{{else}}RIGHT{{/if}}"
                      data-tooltip-delay="800"></span>
              </label>
            {{/if}}
          </li>
        {{/with}}
      {{/each}}

      {{#if (and enabledModuleIcons enabledActorIcons)}}
        <hr />
      {{/if}}

      {{!-- Actor Action Icons --}}
      <div class="actor-actions-container{{#unless (gt enabledActorIcons.length maxIconsPerRow)}} no-scroll{{/unless}}">
        {{#if (gt enabledActorIcons.length maxIconsPerRow)}}
          <button class="actor-actions-nav {{#if (eq menuLayout 'horizontal')}}actor-actions-nav-left{{else}}actor-actions-nav-up{{/if}}" data-direction="{{#if (eq menuLayout 'horizontal')}}left{{else}}up{{/if}}" aria-label="{{#if (eq menuLayout 'horizontal')}}Scroll left{{else}}Scroll up{{/if}}">
            <i class="fas {{#if (eq menuLayout 'horizontal')}}fa-chevron-left{{else}}fa-chevron-up{{/if}}"></i>
          </button>
        {{/if}}
        <div class="actor-actions-scrollable">
          {{#each enabledActorIcons as |icon|}}
            {{#with (lookup ../iconConfigs.actorActions id)}}
              <li data-icon-id="{{../id}}" class="bulk-action">
                {{#if (eq type "button")}}
                  <button id="{{element}}"
                          data-tooltip="{{localize tooltipKey}}"
                          data-tooltip-direction="{{#if (eq ../../menuLayout 'horizontal')}}UP{{else}}RIGHT{{/if}}"
                          data-tooltip-delay="800">
                    <i class="icon-label fas {{this.icon}}"></i>
                  </button>
                {{else if (eq type "checkbox")}}
                  <label for="{{this.element}}">
                    <input type="checkbox" name="{{this.element}}" id="{{this.element}}"
                           {{#if (eq ../id "select-all")}}{{#if ../../selectAllOn}}checked{{/if}}{{/if}} />
                    <span class="icon-label fas {{this.icon}}"
                          data-tooltip="{{localize tooltipKey}}"
                          data-tooltip-direction="{{#if (eq ../../menuLayout 'horizontal')}}UP{{else}}RIGHT{{/if}}"
                          data-tooltip-delay="800"></span>
                  </label>
                {{/if}}
              </li>
            {{/with}}
          {{/each}}
        </div>
        {{#if (gt enabledActorIcons.length maxIconsPerRow)}}
          <button class="actor-actions-nav {{#if (eq menuLayout 'horizontal')}}actor-actions-nav-right{{else}}actor-actions-nav-down{{/if}}" data-direction="{{#if (eq menuLayout 'horizontal')}}right{{else}}down{{/if}}" aria-label="{{#if (eq menuLayout 'horizontal')}}Scroll right{{else}}Scroll down{{/if}}">
            <i class="fas {{#if (eq menuLayout 'horizontal')}}fa-chevron-right{{else}}fa-chevron-down{{/if}}"></i>
          </button>
        {{/if}}
      </div>
    </ul>
  </div>

  <!-- Request Types with Accordion -->
  <div class="request-types-accordion">
    <!-- Search Input -->
    <div class="search-container">
      <label for="search-input" class="sr-only">{{localize 'FLASH_ROLLS.ui.search.placeholder'}}</label>
      <input type="text" class="search-input" id="search-input"
             placeholder="{{localize 'FLASH_ROLLS.ui.search.placeholder'}}"
             aria-label="{{localize 'FLASH_ROLLS.ui.search.placeholder'}}" />
      <i class="icon fas fa-search"></i>
    </div>

    <ul class="submenu-tabs">
      <li data-tab="request-types" class="{{#if (eq selectedSubmenu "request-types")}}active{{/if}}">Rolls</li>
      <li data-tab="status-effects" class="{{#if (eq selectedSubmenu "status-effects")}}active{{/if}}">Status</li>
    </ul>
    
    <!-- Accordion Items -->
    <ul class="request-types {{#if (eq selectedSubmenu "request-types")}}active{{/if}}">
      {{#each requestTypes as |requestType|}}
        <li data-id="{{ requestType.id }}" class="request-type-item {{#if requestType.rollable}}rollable{{/if}} {{#if requestType.hasSubList}}has-subitems{{/if}}">
          <div class="request-type-header {{#if requestType.hasSubList}}accordion-header{{else if requestType.rollable}}toggle{{/if}}">
            {{#if requestType.hasSubList}}
              <i class="icon fas fa-chevron-right accordion-toggle{{#if requestType.expanded}} expanded{{/if}}"></i>
            {{else}}
              <i class="icon fas fa-dice-d20"></i>
            {{/if}}
            <span class="request-type-name">{{ requestType.name }}</span>
            {{#unless requestType.hasSubList}}<i class="btn-macro fas fa-code" data-tooltip="{{localize 'FLASH_ROLLS.ui.buttons.createMacro'}}" data-tooltip-direction="UP" data-tooltip-delay="800"></i>{{/unless}}
          </div>
          
          {{#if requestType.hasSubList}}
            <ul class="roll-types-nested" style="display: {{#if requestType.expanded}}block{{else}}none{{/if}};">
              {{#each requestType.subItems as |subItem|}}
                <li data-id="{{ subItem.id }}" data-parent="{{ ../id }}" class="rollable sub-item">
                  <i class="icon fas fa-dice-d20"></i>
                  <span class="sub-item-name">{{ subItem.name }}</span>
                  <i class="btn-macro fas fa-code" data-tooltip="{{localize 'FLASH_ROLLS.ui.buttons.createMacro'}}" data-tooltip-direction="UP" data-tooltip-delay="800"></i>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </li>
      {{/each}}
    </ul>

    <ul class="status-effects {{#if (eq selectedSubmenu "status-effects")}}active{{/if}}">
      {{#each statusEffects as |statusEffect|}}
        <li data-id="{{ statusEffect.id }}" class="status-effect">
          <div class="status-effect-header">
            <i class="icon" style="background-image: url('{{ statusEffect.iconPath }}');"></i>
            <span class="status-effect-name">{{ statusEffect.displayName }}</span>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>