<section
  class="form-content tab {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}"
>
  <h4><i class="fas fa-globe"></i> {{localize "FLASH_ROLLS.ui.dialogs.worldSettingsLabel"}} <span class="toggle-hint">{{localize 'FLASH_ROLLS.ui.dialogs.toggleHints'}}</span></h4>
  <hr/>

  <fieldset>
    <legend>{{localize "FLASH_ROLLS.settings.moduleSettingsMenu.fieldsets.dndBeyond"}}</legend>

    <div class="form-group">
      <label for="ddbRollOwnership">{{fields.ddbRollOwnership.label}}</label>
      <select name="ddbRollOwnership" id="ddbRollOwnership" data-current-value="{{ddbRollOwnership}}">
        {{#each fields.ddbRollOwnership.choices}}
        <option value="{{@key}}" {{#if (eq @key ../ddbRollOwnership)}}selected{{/if}}>
          {{this}}
        </option>
        {{/each}}
      </select>
      <p class="hint">{{{fields.ddbRollOwnership.hint}}}</p>
    </div>

    <div class="form-group">
      <label for="ddbNoAutoConsumeSpellSlot">{{fields.ddbNoAutoConsumeSpellSlot.label}}</label>
      <input type="checkbox" name="ddbNoAutoConsumeSpellSlot" id="ddbNoAutoConsumeSpellSlot" {{#if ddbNoAutoConsumeSpellSlot}}checked{{/if}} />
      <p class="hint">{{{fields.ddbNoAutoConsumeSpellSlot.hint}}}</p>
    </div>

    <div class="form-group">
      <label for="ddbImportSourcePriority">{{fields.ddbImportSourcePriority.label}}</label>
      <select name="ddbImportSourcePriority" id="ddbImportSourcePriority" data-current-value="{{ddbImportSourcePriority}}">
        {{#each fields.ddbImportSourcePriority.choices}}
        <option value="{{@key}}" {{#if (eq @key ../ddbImportSourcePriority)}}selected{{/if}}>
          {{this}}
        </option>
        {{/each}}
      </select>
      <p class="hint">{{{fields.ddbImportSourcePriority.hint}}}</p>
    </div>

    <div class="form-group">
      <label for="ddbImportSpellMode">{{fields.ddbImportSpellMode.label}}</label>
      <select name="ddbImportSpellMode" id="ddbImportSpellMode" data-current-value="{{ddbImportSpellMode}}">
        {{#each fields.ddbImportSpellMode.choices}}
        <option value="{{@key}}" {{#if (eq @key ../ddbImportSpellMode)}}selected{{/if}}>
          {{this}}
        </option>
        {{/each}}
      </select>
      <p class="hint">{{{fields.ddbImportSpellMode.hint}}}</p>
    </div>

  </fieldset>

</section>
